/*Sticky footer*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/*Defualt home page: ;*/
#home {
	margin-top: 100px;
	font-size: 100px;
	
}

/*Admin home page CSS*/
.imgoverlay {
  position: relative;
}

.overlay {
  position: absolute;
  transition: background 0.5s ease;
}

.imgoverlay:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.buttons {
  position: absolute;
  top: 50%;
  left: 44%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 1;
}

.imgoverlay:hover .buttons {
  opacity: 1;
}