/*Sticky footer*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/*Defualt home page: ;*/
#home {
	margin-top: 100px;
	font-size: 100px;

}

/*Admin home page CSS*/
.imgoverlay {
  position: relative;
}

.overlay {
  position: absolute;
  transition: background 0.5s ease;
}

.imgoverlay:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.buttons {
  position: absolute;
  top: 50%;
  left: 44%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 1;
}

.imgoverlay:hover .buttons {
  opacity: 1;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.library > img {
  margin-top: 30px;
}

.library > a {
  margin-bottom: 20px;
}

.pagination li.active {
  background-color: #009688;
}

.farmtypes > a {
  margin-bottom: 20px;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #009688;
  will-change: left, right;
}

.picker__date-display, .picker__weekday-display{
  background-color: #009688;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
  background-color: #009688;
}

button.picker__today, button.picker__close {
  color: #009688;
}
