/*Global CSS for the whole appliction*/

/*Materialize Fixed Side Nav*/
header, main, footer  {
  padding-left: 300px;
}

main{
  padding-left: 160px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* Sticky Footer */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
   flex: 1 0 auto;
}

/* Top nav custom css*/
.nav-wrapper{
  padding-left: 320px;
}

#add_to_family_modal{
  height: 240px;
  width: 700px;;
}

.individual_animal_image{
  height: 340px;
  width: 340px;
}

/* Back button for the family members page */
.back_button {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.back_button:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

/* Poultry custom css */
.boxed_form{
  border: 1px 1px 1px 1px;
  border-style: solid yellow;
  border-radius: 5px;
}
