/*Global CSS for the whole appliction*/

/*Materialize Fixed Side Nav*/
header, main, footer,  {
  padding-left: 330px;
}

main{
  padding-left: 160px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav-wrapper{
  padding-left: 320px;
}
